<section class="flex flex-col">
  <div class="animate-in slide-in-from-top-96 fade-in-0 duration-2s mt-24 mb-40">
    <%= image_tag 'nutriwiselogo.png', class: "test" %>
  </div>

  <div class="onViewAnimate animate-in slide-in-from-left-14 fade-in-0 duration-2s rounded-md bg-mainColor2 mt-20">
    <p class="font-poppins p-4 text-white">Di Indonesia, berdasarkan data Asian Development Bank, pada tahun 2022
      persentase
      Prevalence of
      Stunting Among
      Children Under 5 Years of Age di Indonesia sebesar 31,8 persen. Jumlah tersebut, menyebabkan Indonesia berada pada
      urutan ke-10 di wilayah Asia Tenggara.</p>
    <p class="font-poppins p-4 text-white text-end">
      <cite>"Jesica Deviana"</cite>
    </p>
  </div>
</section>