<section class="flex flex-col gap-4 shadow-mainColor2 shadow-inner rounded-3xl p-4">
  <div class="flex flex-col justify-center items-center gap-4">
    <%= image_tag "anonymous.jpg", class: "rounded-full max-w-32 border border-black border-solid" %>
    <p><%= @user.name %></p>
  </div>

  <div>
    <h1>adasd</h1>
  </div>
</section>